
header {
	background: #3e3a3a;
	color: #fff;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: #3e3a3a;
	color: #fff;
}

}
.line {
	display:inline;
}
.color1 {
	background: #f8f5f5;
	width: 200px;
}
.pic {
	width: 200px; 
	height: 150px;
}
.cont {
	width: 400px;
}
.bot {
	background: #3e3a3a;
}
.imgy {
	width: 30px;
	height: 30px;
}
.square {
	width: 200px;
}
.blok {
	width: 210px;
}
ul
{
    list-style-type: none;
}
.locro {
	height: 200px;
	width:200px;
}	
.arg {
	height: 150px;
	width: 100%;
}

.desp {
	bottom: 1;
}